.code {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.code_body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  min-height: 70vh;
  min-width: 50vw;
  font-size: 18px;
  max-width: 65vw;
  color: rgb(228, 226, 226);
  background-color: rgb(66, 67, 68);

  max-height: 80vh;
  width: 60vw;
  height: 80vh;

  /* width: 55vw; */
}
.code_button {
  padding: 7px;
  margin: 15px;
  font-size: 20px;
  background-color: rgb(55, 109, 226);
  border-radius: 5px;
  height: 40px;
}
.code_btn {
  display: flex;
}
.code_btn > h4 {
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: 1px; */
  margin: 0;
}

.code_input {
  margin-bottom: 10px;
  margin-top: 2px;
  min-width: 200px;
  min-height: 100px;
}

.code_output_body {
  min-height: 170px;
  min-width: 400px;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .code {
    min-width: 95%;
    margin: 10px;
    min-height: 60vh;
  }

  .code_body {
    min-width: 95%;
    min-height: 60vh;
    font-size: 16px;
  }
  .code_button {
    padding: 2px;
    font-size: 15px;
  }
  .code_output_body {
    min-width: 250px;
    min-height: 100px;
  }
}
