.app {
  background-color: rgb(180, 208, 233);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app_heading {
  font-size: 30px;
  margin-left: 10px;
  /* margin-bottom: 10px; */
  padding-top: 5px;
  font-weight: 700;
  color: rgb(50, 61, 71);
}
.app_body {
  display: flex;
}

@media screen and (max-width: 750px) {
  .app_body {
    flex-direction: column;
  }
}
